* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#eLogo {
  position: relative;
  left: 1.5%;
  top: -40px;
}

#mainsection {
  font-family: "Papyrus", Copperplate, fantasy;
  letter-spacing: 1px;
  position: -webkit-sticky;
  position: sticky;
  color: white;
  background-color: orange;
  text-align: center;
}

li {
  position: relative;
  display: inline;
  text-align: center;
  text-decoration: none;
  left: 1.5%;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: yellow;
}

ul {
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

.search-container {
  position: absolute;
  left: 40%;
  top: 160px;
  padding: 10px;
  cursor: pointer;
}

#searchBar {
  width: 400px;
  height: 31px;
  border-radius: 6px;
}

#submitBtn {
  border-radius: 6px;
  float: right;
  padding: 6px 10px;
  cursor: pointer;
}
