
/* Footer Styling */

body {
  
}


footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #e9e9e9;
    position:fixed;
    bottom:0;
    width:100%;
    text-align: center;
  }
  
  .topic-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top:70px;
    height:55px;
    left: 0;
    right: 0;
    background-color: #ccc;
    width:30%;
    padding: 6px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    text-decoration: none;
  }
  .topic-container i{
    
  }

  .topic-container p{
    background-color: black;
  }

  .topic-container a{
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: grey;
    transition: 0.3s;
    font-size: 15px;
    margin:auto;
    display: inline-block;
    overflow: hidden;
    padding:10px 10px;
    text-decoration: none;
  }

  .topic-container a:hover{
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .topic-container a:active{
    background-color: white;
    text-decoration: none;
    
  }

  .topic-container a:link{
    text-decoration: none;
    color: white;
  }

  .topic-container a:visited{
    text-decoration: none;
    color: #ccc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  .hotcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin:auto;
    position:relative;
    top:100px;
    width:30%;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
  }

.post-container {
  border: 1px solid #ccc;
}
  
.post-container-title-with-img{
  
}

.post-container-title{
  border: 1px solid #ccc;
  height:42px;
}


#post-container-content{
  word-wrap: break-word;
}

#profileimghome{
 width:40px;
}

#usernameinpost{
  position: relative;
font-family: Tahoma, sans-serif;
left:110px;
top:-59px;
font-size: 13px;
}

#titleinpost{
  border: 1px solid #ccc;
  word-wrap: break-word;
  overflow: hidden;
  max-width: 551;
}

#postedby{
  position: relative;
  font-family: Tahoma, sans-serif;
  left:50px;
  top:-30px;
  font-size: 13px;
}

#postedingenre{
  position: relative;
  font-family: Tahoma, sans-serif;
  left:300px;
  top:-18px;
  font-size: 13px;
}

#timeforpost{
  position: relative;
  font-family: Tahoma, sans-serif;
  left:150px;
  top:-106px;
  font-size: 13px;
}

#rating{
 position:relative;
 left:490px;
 top:-139px;
 border-radius:50%;
 background-color: brown;
 color:white;
 padding:8px;
 font-size:20px;
}

 
