/*PROFILE SECTION FOR USER */

/* Style the tab */
.tab {
    overflow: hidden;
    top:80px;
    position: relative; 
    width:24%;
    left:20.2%;
    font-size:10px;
  }

  #lineinprofile{
    position:relative;
    top:51px;
    width:60%;
    left:0.7%;
  }
  
  #profilesettings{
    position:relative;
    top:50px;
    left:20.5%;
    width:60%;
  }


  
  @media screen and (max-width: 600px) {
  
    .tab{  
      
      margin:50px;
      padding: 10px;
      
    }
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    margin:9px;
    padding: 10px 14px;
    transition: 0.3s;
    font-size: 14px;
  }
  
  @media screen and (max-width: 600px) {
  
    .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 12px;
    }
  }
  
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background:color 1px solid #ccc;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    border-bottom: solid 5px cornflowerblue;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    top:60px;
    position:relative;
    left:20%;
    width:40%;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
  }

  .tabcontent input{
    height:29px;
    font-size: 14px;
    border: none;
    width:30%;
    border-radius: 4px;
    text-decoration: none;
  }

  
#country{
  height:29px;
  font-size: 14px;
  border: none;
  width:30%;
  border-radius: 4px;
  text-decoration: none;
}

#gender{
  height:29px;
  font-size: 14px;
  border: none;
  width:30%;
  border-radius: 4px;
  text-decoration: none;
}

#changeemail, #savesettings, #changepassword, #deleteaccount, #connectsteam{
  float:right;
}

  @media screen and (max-width: 600px) {
  
    .tabcontent {
      top:-50px;
      margin:auto;
      width:100%;
    }
  }
  
  /* Fade in tabs */
  @-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.user-container{

}


.user-container img{
  width: 150px;
}
.user-container div{
  float:left;
}

#labelprofile{
  position: relative; 
  left: 10.3%;
  top:-30px;
  transform: translateX(-50%);
  cursor:pointer;
  text-align:center;
}

#labelprofile i{
  font-size:30px
}

#labelprofile input{
  display:none;
}

#labelfordelete{
  position: relative; 
  float:right;
  top:-30px;

}

#avatarprofile{
  color: black;
}

.aboutyou{

}

.aboutyou textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#lineinabout{

}


#totalpost{
float:right;
}


