/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
  box-sizing: border-box;
}

html{
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif;
  background-color:black;
  color:white;
}

a{
  font-weight: bolder;
  text-decoration: none;
  color:white;
}

h1{
  font-size:16px;
  font-weight: bolder;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
  margin: 20px;
  padding: 20px;
}

.subforum{
  margin-top:20px;
}

.subforum-title{
  background-color:#292B2E;
  padding: 5px;
  border-radius: 5px;
  margin:4px;
}

.subforum-row{
 
}

.subforum-column{
  padding: 10px;
  margin:4px;
  border-radius: 5px;
  background-color:#111314;
}

.subforum-description *{
  margin-block: 0;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.subforum-icon i{
  font-size: 45px;
}

.subforum-devider{
  display: none;   
}


/* For the smartphones */
@media screen and (max-width: 460px) {
  .container{
      margin: 10px;
      padding: 10px;
  }

  .subforum-row{
      display: grid;
      grid-template-columns: 25% 75%;
      grid-template-rows: 65% 35%;
  }

  .subforum-devider{
      display: block;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
  }

  

}

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container{
      margin: 15px;
      padding: 15px;
  }

  .subforum-row{
      display: grid;
      grid-template-columns: 10% 60% 10% 20%;
  }

  .subforum-icon i{
      font-size: 35px;
  }

  html{
      font-size: 14px;
  }

  h1{
      font-size: 16px;
  }

}
/*   Header Section    */


/* menu for home with dropdown links */

@media screen and (max-width: 979px) {
#elLogo{
  height: var(--responsive-header--height);
  }
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
  right:0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav .loginDetails, .topnav .registerDetails{
  float:right;
  padding: 14.3px 25px;
  text-decoration: none;
}

.topnav .profileDetails, .topnav .logoutDetails{
  float:right;
  padding: 14.3px 25px;
  text-decoration: none;
}

.topnav .profileDetails i, .topnav .logoutDetails i{
  font-size:17px;
}

.topnav .loginDetails i, .topnav .registerDetails i{
  font-size:17px;
}

.loginDetails, .logoutDetails{
  background-color:aquamarine;
}

.registerDetails, .profileDetails{
  background-color: cornflowerblue;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  top:5.1%;
  background-color: #f9f9f9;
  min-width: 121px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition-delay: 0.3;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    padding: 16px 16px;
    
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    display:none;
  }

  .topnav {
    height:7%;
  }
}
.topnav .search-container {
  position:fixed;
  top: 2%; left: 50%; transform: translate(-50%, -50%)
}

.topnav input[type=text] {
  padding: 7px;
  margin-top: 16px;
  font-size: 17px;
  border: none;
  width:500px;
}

#searchbutton {
  float: right;
  padding: 7px 10px;
  margin-top: 16px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/*LOGIN AND REGISTER PAGES*/

/* Button used to open the contact form - fixed at the bottom of the page */

/* The popup form - hidden by default */
.open-button {
  background-color: grey;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.loginbtn {
  background-color:aquamarine;
color: white;
border: none;
cursor: pointer;
padding: 16px 20px;
width: 280px;
right: 28px;
}

.registerbtn {
  background-color: cornflowerblue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px 20px;
  width: 280px;
  right: 28px;
  }


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: grey;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* The popup form - hidden by default */
.form-popup-2 {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container-2 {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container-2 input[type=text], .form-container-2 input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container-2 input[type=text]:focus, .form-container-2 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container-2 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-2 .cancel {
  background-color: grey;
}

/* Add some hover effects to buttons */
.form-container-2 .btn:hover, .open-button:hover {
  opacity: 1;
}


@media screen and (max-width: 1000px) {

  #formm{
    
  }
}


/*other*/

.close-icon i{
  font-size:60px;
  float: left;
  cursor: pointer;
}

.hide{
  display: none;
}

@font-face {
  font-family:aquire;
  src:url(aquire.otf);
}


/* forum info Styling */
.forum-info{
  padding: 20px;
  background-color: #111314;
}


/* Footer Styling */

footer{
  margin-top: 20px;
  padding: 20px;
  background-color: #e9e9e9;
  display: block;
  text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
  display: flex;
}

.table-head div{
  padding: 5px;
  margin: 2px;
  background-color: #2C2C2C;
  font-weight: bold;
}

.table-head .status{
  flex: 5%;
}

.table-head .subjects{
  flex: 70%;
}

.table-head .replies{
  flex: 10%;
}

.table-head .last-reply{
  flex: 15%;
}

/* posts table's body  */

.table-row{
  display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
  padding: 5px;
  margin: 2px;
  background-color: #131415;
}

.table-row .status{
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects{
  flex: 70%;
}

.table-row .replies{
  flex: 10%;
}

.table-row .last-reply{
  flex: 15%;
}

/* navigation path*/
.navigate{
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a{
  color: #fff;
}

.navigate a:hover{
  color:#FF0042;
  font-weight: bolder;
}

/* Pagination*/

.pagination{
  padding: 20px;
  font-size: 15px;
}

.pagination a{
  color: #fff;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 0.5px #fff;
}

.pagination a:hover{
  opacity: 0.5;
}

.note{
  background-color:#111314;
  padding: 20px;
  display: block;
}

.note span{
  font-size: 20px;
  margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
  display: flex;
  background-color: #2C2C2C;
  padding: 5px;
  font-weight: bold;
  font-size: 15px;
}


/* comment section */
.comment-area{
  margin-bottom:50px;
}

.comment-area textarea{
  width: 100%;
  min-height: 100px;
  padding: 10px;
  margin-block: 10px;
  background-color: black;
}

.comment-area input{
  float: right;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.comment-area input:hover{
  border: solid 1px #000000;
}

/* All css for comment section */

/* 
    Body, button, comment-thread, and utilities

    Notes:
        - This section sets some basic styles. You can ignore this part and 
        go directly to the comment styles.
*/

* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: white;
    background-color: grey;

}
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 8px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}
.comment-thread {
    width: 700px;
    max-width: 100%;
    margin: auto;
    padding: 0 30px;
    background-color: #fff;
    border: 1px solid transparent; /* Removes margin collapse */
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 20px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-voting {
    width: 20px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.comment-voting button {
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    border: 0;
    font-size: 10px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
.comment-author:hover {
    text-decoration: underline;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding: 0 20px;
    padding-left: 28px;
}
.replies {
    margin-left: 28px;
}

/* Adjustments for toggleable comments */

details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}
details.comment summary::-webkit-details-marker {
    display: none;
}
details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}
details.comment[open] .comment-heading::after {
    content: "Click to hide";
}
details.comment:not([open]) .comment-heading::after {
    content: "Click to show";
}

/* Adjustment for Internet Explorer */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Resets cursor, and removes prompt text on Internet Explorer */
    .comment-heading {
        cursor: default;
    }
    details.comment[open] .comment-heading::after,
    details.comment:not([open]) .comment-heading::after {
        content: " ";
    }
}

/* Styling the reply to comment form */

.reply-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
}
.d-none {
    display: none;
}

/*PROFILE SECTION FOR USER */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin:50px;
  margin-bottom: 100px;

}


@media screen and (max-width: 600px) {

  .tab{  
    
    margin:50px;
    padding: 10px;
    
  }
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

@media screen and (max-width: 600px) {

  .tab button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 12px;
  }
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin:auto;
  top:-100px;
  position:relative;
  width:30%;
  margin-bottom: 200px;
  -webkit-animation: fadeEffect 2s;
  animation: fadeEffect 2s;
}

@media screen and (max-width: 600px) {

  .tabcontent {
    top:-50px;
    margin:auto;
    width:100%;
  }
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* login page */

.container-register-login {

  margin: auto;
  width: 305px;
  border: 3px solid aquamarine;
  padding: 10px;
  margin-top: 50px;
  background-color: white;
}

/* Full-width input fields */
.container-register-login input[type=text], .container-register-login input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.container-register-login input[type=text]:focus, .container-register-login input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.container-register-login .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */

/* Add some hover effects to buttons */
.container-register-login .btn:hover, .open-button:hover {
  opacity: 1;
}